body {
    font-family: Arial, sans-serif;
    background-image: url("background.jfif");
    background-size: cover;
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 20px 0;
    text-align: center;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0;
    background-color: #ffffff;
    border-radius: 30px;
}

header h1 {
    margin: 0;
    font-size: 5rem;
    font-family: "Garamond", serif;
}
p{
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav a {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 75px 0px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #333;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 2.25rem;
}
h3 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: "Times New Roman", serif;
}

.project p{
    line-height: 1;
    font-size: 1.5rem;
    color: #ffffff;
}
.project li{
    font-size: 1.25rem;
    color: #ffffff;
}

.project{
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: center;
    margin-bottom: 2vh;
}

.projects .project h3 {
    margin-top: 0;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}
